@import 'fonts';

$roboto: 'Roboto', sans-serif;

body {
    margin: 0;
    background-color: #eee;
}

// .main {
//     height: 100vh;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

.logo__description {
    color: white;
    font-size: 14px;
    font-family: $roboto;
    text-align: center;
}

.temp {
    color: white;
    font-family: $roboto;
    margin-top: 50px;
    font-size: 11px;
}